.container {
    width: 290px;
    height: auto;
    background-color: rgba(184, 21, 224, 0.699);
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

.item-description {
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
}

.item-completed:checked .item-description {
    background: #dddddd;
    text-decoration: line-through;
}
 

#add {
    padding: 8px 14px;
    font-weight: bold;
    color: #ffff;
    background: #009576;
    cursor: pointer;
}